Source: osmo-epdg
Maintainer: Osmocom team <openbsc@lists.osmocom.org>
Section: net
Priority: optional
Build-Depends: erlang-nox,
	libpcap-dev,
	rebar3,
	osmo-gsm-manuals-dev (>= 1.5.0),
	debhelper (>= 10)
Standards-Version: 4.5.0

Package: osmo-epdg
Architecture: any
Depends: osmocom-latest, erlang-nox
Multi-Arch: allowed
Description: Osmocom ePDG (Evolved Packet Data Gateway)

Package: osmo-epdg-doc
Architecture: all
Section: doc
Priority: optional
Depends: osmocom-latest, ${misc:Depends}
Description: ${misc:Package} PDF documentation
